.search-input {
    height: 57px;
    width: 713px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  
    background: rgba(50, 50, 50, 0.8);
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 4px;
  }
  
  .search-input::placeholder {
    position: absolute;
    height: 24px;
    left: 2.66%;
    right: 56.94%;
    top: calc(50% - 24px/2 + 0.5px);
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  
  .search-button {
    height: 57px;
    width: 233px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    margin-left: 14px;
  
    background: #F65261;
  }