.movie-tile {
    width: '319px';
    height: '507px';
    border: '1px solid black';
    border-radius: '5px';
    overflow: 'hidden';
    margin: 40px;
    
    display: flex;
    justify-content: space-between;
}

.movie-details {
    display: flex;
}

.movie-name {
    width: 217px;
    height: 22px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    mix-blend-mode: normal;
    opacity: 0.7;
}

.movie-image {
    width: '100%';
    height: '300px';
    object-fit: 'cover';
}

.movie-year {
    box-sizing: border-box;

    width: 66px;
    height: 26px;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid #979797;
    border-radius: 4px;
}

.movie-genres {
    width: 323px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    mix-blend-mode: normal;
    opacity: 0.5;
}

.context-menu {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    background: rgba(35, 35, 35, 0.918051);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5914px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 4px;
}